In [5]:
import os
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'c:\\Users\\Moises\\OneDrive\\Área de Trabalho\\Jump\\JumpSearch\\Jumpsearch.py\\Notebooks'

In [3]:
#Abrindo o Dataset
dataset = pd.read_csv('c:\\Users\\Moises\\OneDrive\\Área de Trabalho\\Jump\\JumpSearch\\Jumpsearch.py\\dataset\\alunos.csv')

In [4]:
dataset.head()

     Nome  Idade  Matricula  Nota 1  Nota 2  Nota 3  Média
0   Alice     18          1     8.5     7.0     9.0    8.2
1   Bruno     20          2     7.5     6.5     8.0    7.3
2   Carla     21          3     9.0     8.0     9.5    8.3
3  Daniel     18          4     6.0     7.0     7.5    6.8
4   Elisa     19          5     9.5     8.5     9.0    9.0